header {
  background-color: #000000;
  background-image: url(headerback.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  color: #ffffff;
  display: flex;
  height:100px;
  position:fixed;
  width:100%;
  z-index: 99;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}
}
.top {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  padding-left: 5%;
  padding-top:10px;
  font-size: 18px;
  line-height: 0%;
}
#rate {
  font-size:-webkit-xxx-large;
  font-family: 'Russo One', sans-serif;
}
#rateout{
  font-family: 'Orbitron', sans-serif;
}
body{
  background-color: #e2e2e2;
}
footer > h1 {
  color: #909090;
  font-size: 14px;
  text-align: left;
  padding-left: 7%;
  padding-top: 1px;
  padding-bottom: 1px;
}
footer {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #393737;
  line-height: 20%;
  font-family: 'Rokkitt', serif;
}
nav {
  position:fixed;
  float:left;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 226px;
    background-color: #b32121;
}

li a {
    display: block;
    color: #fff;
    padding: 17.39px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
li a:hover {
    background-color: #827474;
    color: white;
}
#whitecross{
    margin-left: 175px;v
    height:10px;
    z-index: 1; position:relative;
}

#h{
  height: auto;
  width: 800px;
  box-shadow: 5px 5px 3px #ccc;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}
.container1 {
  padding-top: 18%;
  padding-left: 12%;
  padding-bottom: 1%;
  width: 35%;
  max-height: auto;
  justify-content: flex-start;
}
.container2 {
  padding-left: 44%;
  width: 55%;
  max-height: auto;
  border-radius: 10px;
}
.containermiddle {
  padding-left: 25%;
  justify-content: center;
  width: 35%;
  max-height: auto;
}
.bodygroup {
  display: flex;
  justify-content: flex-start;
  padding-left: 7%;
  box-sizing: border-box;
  padding-bottom: 13px;
}
.bodygroup:hover .middle{
  opacity: 1;
}
.rowbody {
  margin-top: 5px;
  overflow: auto;
  font-size: 18px;
}
.rowheader {
  height: auto;
  font-weight: bold;
  color: #686868;
  font-size: 150%;
  font-family: 'Lobster', cursive;
  line-height:  110%;
}
#jb {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  line-height: 20%;
}
#bottom{
  padding-bottom: 3%;
}
.middle {
  transition: 1.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
}
.text {
  padding-top: 16%;
  border: 2px;
  z-index: 0;
}
.empty {
  padding-bottom: 15%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
#img{
  height: 440px;
}
